{% if app.user.username is defined %}

    <!--Main Navigation-->
    <header>

        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar font-quicksand">
            <div class="container-fluid m-1">
                <a class="navbar-brand h3-responsive" href="{{ path('homepage') }}"><strong><i class="fa fa-shopping-cart" aria-hidden="true"></i> {{ title }}</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('article_list') }}"> <i class="fa fa-list-ul screen-dsiplay" aria-hidden="true"></i> List <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <i class="fa fa-shopping-basket screen-dsiplay" aria-hidden="true"></i> Basket </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="#"> <i class="fa fa-user screen-dsiplay" aria-hidden="true"></i> Profile</a>
                        </li>
                    </ul>
                    <form class="form-inline ml-auto">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                        <button href="#!" class="btn btn-outline-white btn-md my-0" type="submit"><i class="fa fa-search fa-3x" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </nav>


        {% if homeNavbar is defined %}
            <div class="view intro hm-purple-light">
                <div class="full-bg-img flex-center">
                    <div class="container text-center white-text fadeInDownBig animated">
                        <h2 class="font-quicksand h2-responsive">This Navbar is fixed and transparent</h2>
                        <br>
                        <h5 class="font-didact h5-responsive">It will always stay visible on the top, even when you scroll down</h5>
                        <div class="divider-new font-quicksand h5-responsive">Let's buy them all !</div>
                        <a href="{{ path('article_add') }}" role="button" class="btn btn-primary font-quicksand btn-size">Sale your pokemon here</a>
                        <a href="#" role="button" class="btn btn-secondary font-quicksand btn-size">See all that we have</a>
                    </div>
                </div>
            </div>
        {% endif %}


    </header>
    <!--Main Navigation-->
    




    <!-- Modal -->
    <div class="modal fade right" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-full-height modal-right" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h1>{{ app.user.username }}</h1>
                    <h1>{{ app.user.email }}</h1>
                    <img src="{{ asset('uploads/users_pictures/'~app.user.picture) }}" alt="{{ app.user.picture }}" class="img-fluid">
                </div>
                <div class="modal-footer margin-auto">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a role="button" href="{{ path('logout') }}" class="btn btn-primary"> <i class="fa fa-sign-out"></i> Logout</a>
                </div>
            </div>
        </div>
    </div>

{% endif %}
