{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid view">
        <br><br><br><br>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 card py-5 m-5 white">
                <div class="row">
                    <div class="col-md-12">
                        {% for message in app.flashes('user_edited') %}
                            <div class="d-block text-center h3-responsive font-quicksand green darken-1 text-white rounded">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <h2 class="h1-responsive font-quicksand"> <i class="fa fa-exchange"></i> Your current transaction :</h2>
                        <h3 class="h3-responsive mx-2">

                        </h3>
                    </div>
                    <hr>
                    <div class="col-md-12">
                        <hr>
                        <h2 class="h1-responsive font-quicksand"> <i class="fa fa-star-o"></i> Your favorite pokemon list :</h2>
                        <h3 class="h3-responsive mx-3">
                            {% for pokemon in app.user.pokemonsFavorites %}
                                <span><a href="#">{{ pokemon.name|capitalize }}</a></span>{% if not loop.last %} - {% endif %}
                            {% endfor %}
                        </h3>
                        <hr>
                    </div>
                    <div class="col-md-6 p-2">
                        <h2 class="text-center h1-responsive font-quicksand"> <i class="fa fa-edit"></i> Edit your profil</h2>
                        <br>
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                {{ form_start(form) }}
                                <div class="md-form">
                                    {{ form_row(form.username) }}
                                </div>

                                <div class="md-form">
                                    {{ form_row(form.email) }}
                                </div>

                                <div class="md-form">
                                    {{ form_row(form.money) }}
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-success">Edit</button>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 scrollbar-primary" style="position: relative; overflow-y: scroll; height: 300px">
                        <h2 class="text-center h1-responsive font-quicksand py-2"> <i class="fa fa-history"></i> Historical</h2>
                        <br>
                        <h3 class="text-center h3-responsive font-quicksand">
                            {% for histo in app.user.historical %}
                                {% if histo.type == 'sale' %}
                                    <span> <i class="fa fa-arrow-up"></i> {{ histo.type|capitalize }}</span> -
                                    <span class="red-text"> {{ histo.pokemon|capitalize }}</span> -
                                    <span class="green-text"> {{ histo.money }} $</span> -
                                {% else %}
                                    <span> <i class="fa fa-arrow-down"></i> {{ histo.type|capitalize }}</span> -
                                    <span class="green-text"> {{ histo.pokemon|capitalize }}</span> -
                                    <span class="red-text"> {{ histo.money }} $</span> -
                                {% endif %}
                                <span> {{ histo.date|date('d/m/Y') }}</span>
                                <hr class="w-75">
                            {% endfor %}
                        </h3>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
{% endblock %}
