{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="height: 100vh">
                <br><br><br><br><br><br><br><br>
                <h1 class="text-white">Username ?? {{ user.username }}</h1>

                {{ form_start(form) }}

                <div class="md-form">
                    {{ form_row(form.username) }}
                </div>
                <div class="md-form">
                    {{ form_row(form.email) }}
                </div>
                <div class="md-form">
                    {{ form_row(form.money) }}
                </div>
                <div class="md-form">
                    {{ form_row(form.save) }}
                </div>


                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}


{% block stylesheets %}
{% endblock %}
