{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="height: 100vh; background-color: indianred">

                <br><br><br>
                <br><br><br>

                <div class="col-md-6 margin-auto p-5">
                    <!--Panel-->
                    <div class="card">
                        <div class="card-header success-color lighten-1 white-text text-center h4-responsive">
                            Sale your pokemon
                        </div>

                        <div class="card-body">

                            {{ form_start(form) }}

                            <div class="md-form">
                                {{ form_row(form.pokemon) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(form.size) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(form.weight) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(form.description) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(form.picture) }}
                            </div>
                            <div class="md-form">
                                {{ form_row(form.price) }}
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-success">Sale</button>
                            </div>

                            {{ form_end(form) }}

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
{% endblock %}
