{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 view" style="min-height: 100vh">

                <br><br><br>
                <br><br><br>

                <div class="col-md-10 margin-auto p-5">
                    <!--Panel-->
                    <div class="card border-{{ article.pokemon.type1 }}">

                        <div class="card-header white text-center h1-responsive">
                            <a href="#" class="btn btn-success pull-left" role="button"><i class="fa fa-shopping-basket"></i></a>
                            {{ article.pokemon.name|capitalize }}
                            <a href="#" class="btn btn-warning pull-right" role="button"><i class="fa fa-star-o"></i></a>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-6 text-center p-5">
                                <h2 class="h2-responsive">Détails</h2>
                                <hr>
                                <h3 class="h3-responsive">Price : {{ article.price }} $</h3>
                                <h3 class="h3-responsive">Added the : {{ article.createdAt|date('d / m / Y') }}</h3>
                                <h3 class="h3-responsive">Official number : {{ article.pokemon.number }}</h3>
                                <h3 class="h3-responsive">Types : {{ article.pokemon.type1 }} {% if article.pokemon.type2 is not null %}&{% endif %} {{ article.pokemon.type2 }}</h3>
                                <h3 class="h3-responsive">Size : {{ article.size }} m</h3>
                                <h3 class="h3-responsive">Weight : {{ article.weight }} Kg</h3>
                            </div>

                            <div class="col-lg-5 col-md-6 p-5 text-center">
                                <img src="{{ asset('uploads/articles_pictures/'~article.picture) }}" alt="{{ article.pokemon.name }}" class="img-fluid margin-auto" style="max-height: 40vh">
                            </div>

                            <div class="col-lg-3 col-md-12 text-center p-5">
                                <h2 class="h2-responsive">Current owner</h2>
                                <hr>
                                <img src="{{ asset('uploads/users_pictures/'~article.owner.picture) }}" alt="{{ article.owner.username }}" class="img-fluid margin-auto rounded-circle" style="max-height: 15vh">
                                <h3 class="h3-responsive my-1">Username : {{ article.owner.username }}</h3>
                                <h3 class="h3-responsive my-1">N° of sales : 0</h3>
                                <h3 class="h3-responsive my-1">N° of purchase : 0</h3>
                            </div>
                        </div>

                        {% if article.description is not null %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                    <h3 class="h3-responsive text-center"> {{ article.pokemon.name|capitalize }}'s description : {{ article.description }}</h3>
                                </div>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block stylesheets %}
{% endblock %}
