{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid view-list">
        <div class="row">
            <div class="col-md-12 p-5 article-table">

                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            {% for article in articles %}

                                <div class="col-sm-12 col-md-6 col-lg-4 hoverable cursor-pointer py-2 font-quicksand" onclick="location.href='{{ path('article_details', {'id':article.id}) }}'">
                                    <div class="row">
                                        <div class="col-md-6 text-center">
                                            {% if not article.picture %}
                                                no picture
                                            {% else %}
                                                <img src="{{ asset('uploads/articles_pictures/'~article.picture) }}" alt="{{ article.pokemon.name }}" class="img-fluid" style="max-height: 200px;">
                                            {% endif %}
                                        </div>
                                        <div class="col-md-6">
                                            <h2 class="align-middle h2-responsive my-2 h2">{{ article.pokemon.name|capitalize }}</h2>
                                            <h4 class="align-middle h4-responsive my-3">
                                                <span class="border-{{ article.pokemon.type1 }} p-1">{{ article.pokemon.type1 }}</span>
                                                <span class="border-{{ article.pokemon.type2 }} p-1">{{ article.pokemon.type2 }}</span>
                                            </h4>
                                            <h4 class="align-middle h4-responsive my-3">{{ article.price }} $</h4>
                                            <h5 class="align-middle h5-responsive my-3">{{ article.createdAt|date('m / d / Y') }}</h5>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}
                            <div class="navigation margin-auto">
                                <br>
                                {{ knp_pagination_render(articles) }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block stylesheets %}
{% endblock %}
