{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid p-5 view-list">
        <div class="row">
            <div class="col-md-12 p-5 article-table">

                <div class="card">
                    <div class="card-body">

                        <!-- Grid row -->
                        <div class="row">

                            <!-- Grid column -->
                            <div class="col-md-6 mt-1 margin-auto">

                                <div class="input-group md-form form-sm form-2 pl-0">
                                    <input class="form-control my-0 py-1 grey-border" type="text" placeholder=" Search" aria-label="Search">
                                    <span class="input-group-addon waves-effect grey lighten-3" id="basic-addon1"><a><i class="fa fa-search text-grey" aria-hidden="true"></i></a></span>
                                </div>

                            </div>
                            <!-- Grid column -->

                        </div>
                        <!-- Grid row -->

                        <table class="table table-hover table-responsive-sm font-quicksand">
                            <thead class="font-didact font-up">
                            <tr>
                                <th class="h4-responsive font-weight-bold">#</th>
                                <th class="h4-responsive font-weight-bold">Picture</th>
                                <th class="h4-responsive font-weight-bold">Name</th>
                                <th class="h4-responsive font-weight-bold">Price</th>
                                <th class="h4-responsive font-weight-bold">Size</th>
                                <th class="h4-responsive font-weight-bold">Weight</th>
                            </tr>
                            </thead>
                            <tbody class="cursor-pointer align-middle">

                                {% for article in articles %}
                                <tr onclick="location.href='{{ path('article_details', {'id':article.id}) }}'">
                                    <td class="align-middle h5-responsive" scope="row">{{ article.pokemon.number }}</td>
                                    <td class="align-middle h5-responsive">
                                        {% if not article.picture %}
                                            no picture
                                        {% else %}
                                            <img src="{{ asset('uploads/articles_pictures/'~article.picture) }}" alt="{{ article.pokemon.name }}" class="img-fluid" style="height: 150px;">
                                        {% endif %}
                                    </td>
                                    <td class="align-middle h5-responsive">{{ article.pokemon.name }}</td>
                                    <td class="align-middle h5-responsive">{{ article.price }} $</td>
                                    <td class="align-middle h5-responsive">{{ article.size }} m</td>
                                    <td class="align-middle h5-responsive">{{ article.weight }} Kg</td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
{% block stylesheets %}
{% endblock %}
