{% extends 'base.html.twig' %}

{% block body %}

    <div class="container-fluid p-5">

        <div class="row types_favorites_small">
            <div class="col-md-12 text-center">
                <p>
                    <a class="btn btn-primary" data-toggle="collapse" href="#types" aria-expanded="false" aria-controls="collapseExample">
                        Types
                    </a>
                    <a class="btn btn-primary" data-toggle="collapse" href="#favorites" aria-expanded="false" aria-controls="collapseExample">
                        Favorites
                    </a>
                </p>
                <div class="collapse" id="types">
                    <ul class="list-group w-75 font-quicksand" style="margin: auto">
                        <li class="list-group-item text-justify text-center h5-responsive">
                            <dt>Types :</dt>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <dt>Eau</dt>
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#feu'">
                            <dt>Feu</dt>
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#feu'">
                            <dt>Plante</dt>
                            <span class="badge badge-primary badge-pill">6</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#feu'">
                            <dt>Dragon</dt>
                            <span class="badge badge-primary badge-pill">0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
                            <dt>Legendaire</dt>
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>
                    <br><br>
                </div>
                <div class="collapse" id="favorites">
                    <ul class="list-group w-75 font-quicksand" style="margin: auto">
                        <li class="list-group-item text-justify text-center h5-responsive">
                            <dt>Most favorite :</dt>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <img src="https://orig00.deviantart.net/e912/f/2014/093/b/3/charmander_by_mighty355-d7cw08c.png" alt="..." height="60px">
                            <dt>Salamèche</dt>
                            <span class="badge badge-primary warning-color-dark badge-pill">5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <img src="http://pokelyris.livehost.fr/theme/ToonCraft/img/bulbizar.png" alt="..." height="60px">
                            <dt>Bulbizarre</dt>
                            <span class="badge badge-primary warning-color-dark badge-pill">3 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <img src="https://www.papyswarriors.com/medias/album/7-carapuce.png" alt="..." height="60px">
                            <dt>Carapuce</dt>
                            <span class="badge badge-primary warning-color-dark badge-pill">2 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                    </ul>
                    <br><br>
                </div>
            </div>
        </div>




        <div class="row">

            <div class="col-md-12 col-lg-3 sticky-top sticky-left types_favorites_large">

                <div class="row">
                    <ul class="list-group w-75 font-quicksand margin-auto">
                        <li class="list-group-item text-justify text-center h5-responsive">
                            <dt>Types :</dt>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <dt>Eau</dt>
                            <span class="badge badge-primary badge-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#feu'">
                            <dt>Feu</dt>
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#feu'">
                            <dt>Plante</dt>
                            <span class="badge badge-primary badge-pill">6</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#feu'">
                            <dt>Dragon</dt>
                            <span class="badge badge-primary badge-pill">0</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center disabled">
                            <dt>Legendaire</dt>
                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>
                </div>

                <br>

                <div class="row">
                    <ul class="list-group w-75 font-quicksand margin-auto">
                        <li class="list-group-item text-justify text-center h5-responsive">
                            <dt>Most favorite :</dt>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <img src="https://orig00.deviantart.net/e912/f/2014/093/b/3/charmander_by_mighty355-d7cw08c.png" alt="..." height="60px">
                            <dt>Salamèche</dt>
                            <span class="badge badge-primary warning-color-dark badge-pill">5 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <img src="http://pokelyris.livehost.fr/theme/ToonCraft/img/bulbizar.png" alt="..." height="60px">
                            <dt>Bulbizarre</dt>
                            <span class="badge badge-primary warning-color-dark badge-pill">3 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center cursor-pointer" onclick="location.href='#eau'">
                            <img src="https://www.papyswarriors.com/medias/album/7-carapuce.png" alt="..." height="60px">
                            <dt>Carapuce</dt>
                            <span class="badge badge-primary warning-color-dark badge-pill">2 <i class="fa fa-star" aria-hidden="true"></i></span>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-12 col-lg-9">
                <div class="row">

                    {% for article in articles %}
                        {% if loop.first %}
                            <div class="col-md-12 p-3">
                                <!--Card-->
                                <div class="card card-cascade wider reverse">

                                    <!--Card image-->
                                    <div class="cursor-pointer z-depth-1 text-center py-3 hover-effect border-{{ article.pokemon.type1 }}" onclick="location.href='{{ path('article_details', {'id':article.id}) }}'">
                                        <img src="{{ asset('uploads/articles_pictures/'~article.picture) }}" alt="{{ article.pokemon.name }}" class="img-fluid first-image-index">
                                        <a href="#!">
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <!--/Card image-->

                                    <!--Card content-->
                                    <div class="card-body text-center font-quicksand">
                                        <!--Title-->
                                        <h4 class="card-title cursor-pointer" onclick="location.href='#bulbi'"><strong>{{ article.pokemon.name }}</strong></h4>
                                        <p class="card-text">
                                            {% if article.description %}
                                                {{ article.description }}
                                            {% else %}
                                                No description...
                                            {% endif %}
                                        </p>
                                        <div class="row">
                                            <div class="offset-3 col-md-2 text-center">
                                                <h5 class="h5-responsive blue-text">5
                                                    <br>
                                                    <span>En stock</span>
                                                </h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5 class="h5-responsive red-text">2
                                                    <br>
                                                    <span>Vendu</span>
                                                </h5>
                                            </div>
                                            <div class="col-md-2">
                                                <h5 class="h5-responsive green-text">1
                                                    <br>
                                                    <span>En vente</span>
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Card content-->
                                    <a role="button" href="#" class="btn btn-outline-primary btn-lg waves-effect"> <dt> Add to my basket for  {{ article.price }}$ </dt> </a>
                                </div>
                                <!--/.Card-->
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="col-md-12">
                        <div class="row">

                            {% for article in articles %}
                                {% if not loop.first and loop.index < 10%}
                                    <div class="col-md-6">
                                        <div class="card card-cascade wider reverse my-2">
                                            <div class="overlay hm-white-slight text-center z-depth-1 py-3 hover-effect cursor-pointer border-{{ article.pokemon.type1 }}" onclick="location.href='{{ path('article_details', {'id':article.id}) }}'">
                                                <img src="{{ asset('uploads/articles_pictures/'~article.picture) }}" alt="{{ article.pokemon.name }}" class="img-fluid" style="max-height: 300px">

                                            </div>
                                            <div class="card-body text-center">
                                                <h4 class="card-title cursor-pointer" onclick="location.href='#sala'"><strong>{{ article.pokemon.name }}</strong></h4>
                                                <p class="card-text">
                                                    {% if article.description %}
                                                        {{ article.description }}
                                                    {% else %}
                                                        No description...
                                                    {% endif %}
                                                </p>
                                                <div class="row">
                                                    <div class="col-md-4 text-center">
                                                        <h5 class="h5-responsive blue-text">1
                                                            <br>
                                                            <span>En stock</span>
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5 class="h5-responsive red-text">2
                                                            <br>
                                                            <span>Vendu</span>
                                                        </h5>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <h5 class="h5-responsive green-text">2
                                                            <br>
                                                            <span>En vente</span>
                                                        </h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <a role="button" href="#" class="btn btn-outline-primary btn-lg waves-effect"> <dt> Add to my basket for  {{ article.price }}$ </dt> </a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
